#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  color: #c5cbd3;
  background-color: #283845;
  min-height: 90vh;
}

footer {
  background-color: #c5cbd3;
  border-top: 5px solid #a37c40;
}

header {
  min-height: 300px;
  background-image: url('./assets/software-development-company.jpg');
  background-size: cover;
  background-position:bottom;
  color: #c5cbd3;
  border-bottom: 5px solid #a37c40;
}

nav {
  background-color: #c5cbd3;
  border-radius: 5px;
}

form {
  border: 2px solid #a37c40;
  border-radius: 5px;
}

.form-div {
  width: 500px
}

.cards-img {
  width: 100%;
  height: 100%;
}

.cards {
  width: 40%;
  height: 500px;
  border: 2px solid #a37c40;
}

.cards-back {
  background-color: rgb(245, 241, 237, 0.3);
}

.cards-links {
  max-width: 30px;
  max-height: 30px;
}

.card-title {
  color: #252323
  
}

.about-img {
  max-width: 500px;
  border: 2px solid #a37c40;
  border-radius: 5px;
}

.about-p {
  border: 2px solid #a37c40;
  border-radius: 5px;
}
.footer-img {
  max-width: 100px;
  max-height: 100px;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}